body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

.menu-icon {
  height: 40px;
  width: 40px;
  background-color: #42783f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-total {
  height: 40px;
  width: 100px;
  background-color: #42783f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

header {
  background-color: #30362f;
  font-family: 'Cedarville Cursive', cursive;
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  border: 2px solid black;
  padding: 10px;
  height: 195px;
  color: white;
  padding-left: 200px;
  gap: 375px;

}

main {
  background-color: #fffdee;
}

.material-icons-home {
  color: white;
}

.material-icons-basket {
  color: white;
}

#nav-bar {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.images {
  display: flex;
  padding-top: 50px;
}