body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin-top: 23px;
}

header {
  background-color: #30362f;
  font-family: 'Cedarville Cursive', cursive;
  display: flex;
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border: 2px solid black;
  padding: 10px;
  height: 195px;
  color: white;

}

main {
  background-color: #fffbdb;
}

.material-icons-home{
  color: white;
}

.material-icons-basket {
  color: white;
}

.nav-bar{
  margin-top: 23px;
}

.images {
  display: flex;
}

