#product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin: 20px;
  
  }

  .add-to-basket {
    background-color: #30362f; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 10px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #a59132 ; 
    }
  }
  .product-item h4 {
    margin: 0 0 5 0;
    font-size: 18px; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #333; 
    /* margin-left: 20px */
  }
  
  
  .product-item p {
    margin: 10px 0; 
  }

  /* .product-item img {
    margin-left: 20px
  } */

  .product-item {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    /* margin-left: 20px;  */
    border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  padding: 10px;
  background-color: white;


  }