.shop-footer {
    background-color: #30362f;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 75px;
    font-family: 'Cedarville Cursive', cursive;
    display: flex;
    font-size: xx-large;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.logo {
    height: 35px;
    width: 35px;
    fill: white;
}

.social-media-item-container {
    display: flex;
    gap: 20px;
}