/* Checkout.css */
.checkout-page {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 50px;
  justify-content: space-evenly;
}

.buy-now-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; /* Reduce top margin */
  display: flex;
  justify-content: center;
}
.buy-now-button:hover {
  background-color: #FF4500;
}

.order-summary {
  width: 30%;
  padding: 10px 24px; /* Reduce padding */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  justify-content: center; /* Center items vertically */
}

.basket-list {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Add a border for the container */
  border-radius: 8px; /* Add some border-radius for aesthetics */
  padding: 15px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.basket-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; /* Add margin for spacing between product items */
}

.product-text-info {
  margin-left: 20px;
}

.order-summary h4 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  padding-bottom: 10px; /* Adjust the padding as needed for spacing */
}
